name: Code Scanning

on:
  push:
    branches:
      - '**'

permissions:
  pull-requests: read
  contents: read

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0

      - uses: actions/setup-java@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          distribution: temurin
          java-version: 21

      - run: chmod +x gradlew

      - name: Build and Analyze
        run: |
          ./gradlew build sonarqube \
            -Dsonar.projectKey=B-Aufa-Daffa-Satriatama-2406426321_Modul-1-Coding-Standards \
            -Dsonar.organization=b-aufa-daffa-satriatama-2406426321 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}