name: Deploy Spring Boot to Koyeb

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Spring Boot Jar
        run: ./gradlew clean bootJar --no-daemon

      - name: Run tests
        run: ./gradlew test --no-daemon


      - name: Install Koyeb CLI
        run: |
          curl -s https://install.koyeb.com | bash
          echo "$HOME/.koyeb/bin" >> $GITHUB_PATH


      - name: Deploy to Koyeb
        env:
          KOYEB_API_TOKEN: ${{ secrets.KOYEB_API_TOKEN }}
        run: |
          koyeb login --api-token $KOYEB_API_TOKEN
          # Stop service dulu (opsional tapi lebih aman)
          koyeb service stop my-springboot-app || true
          # Deploy jar hasil build
          koyeb service update my-springboot-app --source ./build/libs/*.jar --region paris
          # Start service
          koyeb service start mutual-elk/modul-1-coding-standards